{{>header}}

{{>navigation}}

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Editors</h2>
      <p>Only editors should be able to view this page!</p>
    </div>
  </div>

  {{>sidebar}}

</div>

{{>footer}}
