{{>header}}

{{>navigation}}

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Sign-up</h2>
      <p style="color:red;">{{ signup_error }}</p>
      <p style="color:green;">{{ signup_success }}</p>
      {{#signup_success}}<p><a href="/login">Login</a> to access your new account.</p>{{/signup_success}}
      {{^signup_success}}
      <form action="/login/attemptSignup" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="At least 6 characters" required> <br /> <br />
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="At least 6 characters" required> <br /> <br />
        <input type="submit" value="Sign-up">
      </form>
      {{/signup_success}}
    </div>
  </div>

  {{>sidebar}}

</div>

{{>footer}}
